html, body, #body>div {
  height: 100%;
}

body, .container {
	display: flex;
	flex-direction: column;
}


 .container {
  flex-grow: 1;
  padding: 20px;
}

.fill-free-space {
	flex-grow: 1;
}

.well {
	background: #F6FBFE;
	padding: 16px;
	border-radius: 8px;
}

.form-buttons {
	margin-top: 10px;
}

.form-buttons button {
	margin-left: 2px;
}
.form-buttons button:first-child {
	margin-left: 0px;
}

.error {
	color: red;
	padding-top: 10px;
}

.success {
	color: green;
	padding-top: 10px;
}

.register-link, .login-link{
	margin-top: 50px;
}

.inline-link {
	display: inline-block !important;
}


.callInfo {
    width: 160px;
    height: 70px;
    float: left;
}
#connectedCall .callInfo {
    width: 240px;
}
#dialPad div{
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;

    /*
    Introduced in IE 10.
    See http://ie.microsoft.com/testdrive/HTML5/msUserSelect/
    */
    -ms-user-select: none;
    user-select: none;
}
.callInfo h3 {
    color: #389400;
    margin: 10px 0 10px 0;
}
.callInfo p {
    margin: 0px 25px 0px 0px;
    float: left;
}
#callInfoNumber, #incomingCallNumber {
	font-size: 120%;
}
#answer, #hangUp, #reject, #connectCall, #mute {
    color: #FFF;
    background-color: #389400;
    width: 50px;
    height: 50px;
    text-align: center;
    font-size: 30px;
    margin: 10px 0px 10px 0px;
    border-radius: 25px 25px 25px 25px;
    -moz-border-radius: 25px 25px 25px 25px;
    -webkit-border-radius: 25px 25px 25px 25px;
    cursor: pointer;
    cursor: hand;
}
#mute:active, #connectCall:active, #reject:active, #hangUp:active, #answer:active {
    background-color: #B6B6B6;
    -webkit-box-shadow: 0px 1px 7px 2px rgba(0, 0, 0, 0.45);
    -moz-box-shadow: 0px 1px 7px 2px rgba(0, 0, 0, 0.45);
    box-shadow: 0px 1px 7px 2px rgba(0, 0, 0, 0.45);
    border: none;
}
#hangUp {
    background-color: #A90002;
	float: right;
}
#reject {
    background-color: #FFF;
    color: #A90002;
    margin-right: 10px;
}
#connectCall, #mute {
    color: #FFF;
    background-color: #389400;
    width:260px;
    height: 50px;
    font-size: 30px;
    text-align: center;
    border-radius: 5px 5px 5px 5px;
    -moz-border-radius: 5px 5px 5px 5px;
    -webkit-border-radius: 5px 5px 5px 5px;
    cursor: pointer;
    cursor: hand;
}
#mute {
    color: #545454;
    margin: 0 auto;
    width: 50px;
    height: 50px;
    border-radius: 25px 25px 25px 25px;
    -moz-border-radius: 25px 25px 25px 25px;
    -webkit-border-radius: 25px 25px 25px 25px;
    background-color: #FFF;
}
.muteActive {
    color: #FFF;
    background-color:#389400;
}
#to {
    border-bottom: 2px solid #BBBBBB;
}
#dialPad {
    width: 240px;
    height: 330px;
    margin: 80px auto 0px auto;
}
#dialPad div {
    float: left;
    width: 50px;
    height: 50px;
    text-align: center;
    font-size: 26px;
    margin: 25px 15px 0px 15px;
    box-sizing:border-box;
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
    border-radius: 25px 25px 25px 25px;
    -moz-border-radius: 25px 25px 25px 25px;
    -webkit-border-radius: 25px 25px 25px 25px;
    border: 1px solid #E8E8E8;
    padding-top: 5px;
}
#dialPad div:hover {
    background-color: #389400;
    color: #FFF;
    cursor: pointer;
    cursor: hand;
}
#dialPad div:active {
    background-color: #B2B2B2;
    -webkit-box-shadow: 0px 1px 7px 2px rgba(0, 0, 0, 0.45);
    -moz-box-shadow: 0px 1px 7px 2px rgba(0, 0, 0, 0.45);
    box-shadow: 0px 1px 7px 2px rgba(0, 0, 0, 0.45);
    border: none;
}
#answer .fa {
    -webkit-animation: callp 1s;
    animation: callp 1s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-direction: alternate;
    -webkit-animation-play-state: running;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-play-state: running;
}
@-webkit-keyframes callp {
    from {
        color: #FFF;
    }
    to {
        color: #389400;
    }
}
@keyframes callp {
    from {
        color: #FFF;
    }
    to {
        color: #389400;
    }
}
#answer {
    -webkit-animation: call 1s;
    animation: call 1s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-direction: alternate;
    -webkit-animation-play-state: running;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-play-state: running;
}
@-webkit-keyframes call {
    from {
        background: #389400;
    }
    to {
        background: #FFF;
    }
}
@keyframes call {
    from {
        background: #389400;
    }
    to {
        background: #FFF;
    }
}

.centered{
	text-align: center;
}

#phone {
	width: 300px;
    margin: 0 auto;
	padding: 10px;
	border: 1px solid #B2B2B2;
    border-radius: 4px;
    margin-top: 2px;
}

#connectCall {
	width: 100%;
}

#answer, #reject, #connectCall {
	display: inline-block;
}

#phoneNumber {
	text-align: center;
    margin-bottom: 10px;
    font-size: 20pt;
}

#sipDetailsLink {
	display: block;
    margin: 20px 0px;
}

#sipDetails {
	font-size: 95%;
}

#sipDetails .title {
	font-weight: bold;
}

#logOut[hidden]{
	display: none;
}

.features{
	font-weight: bold;
}

.unsupported-browser {
	font-size: 110%;
}

nav h1{
    display: inline-block;
    margin-left: 20px;
	font-size: 14pt;
    padding-top: 6px;
}

.fa {
	margin-top: 8px;
}

nav li a {
	display: inline-block;
	color: #FFF;
	text-decoration: initial !important;
}

#voiceMailMessages ul {
	padding-left: 0px;
	font-size: 85%;
	max-height: 400px;
	overflow-x: hidden;
	overflow-y: auto;
	padding-top: 24px;
}

#voiceMailMessages li {
	list-style-type: none;
	height: 26px;
	display: flex;
	justify-content: space-between;
}

#voiceMailMessages li a{
}

#voiceMailMessages li a .fa{
	margin-top: 0px;
}

#voiceMailMessages .remove {
	font-size: 110%;
	height: 20px;
}

#voiceMailMessages .change-greeting{
	width: 100%;
}
